.data-container {
  max-height: 490px;
  overflow-y: auto;
  background: #F0F0F0; /* Lighter shade for better contrast */
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12); /* Enhanced shadow for depth */
  width: 90%;
  margin: 2rem auto;
  box-sizing: border-box;
  border: 1px solid #E0E0E0; /* Subtle border for definition */
  transition: all 0.3s ease; /* Smooth transition for interactive elements */
}

.data-container:hover {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2); /* Deeper shadow on hover for interactivity */
}


.data-item {
  display: grid;
  grid-template-columns: 3fr 3fr 2fr 2fr 2fr 1fr;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid #E0E0E0;
  padding: 1.5rem;
  transition: background-color 0.3s, box-shadow 0.3s;
  box-sizing: border-box;
}

.data-item:last-child {
  border-bottom: none;
}

.data-item:hover {
  background-color: #F0F0F0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.data-item h3 {
  color: #333;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
}

.data-item p {
  color: #666;
  font-size: 1rem;
  margin: 0.25rem 0;
  line-height: 1.6;
}

.delete-button {
  padding: 0.2rem .2rem;
  background-color: #f6032cc4; /* Blue color for a modern look */
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 0.6rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s, box-shadow 0.3s, transform 0.1s;
}

.delete-button:hover {
  background-color: #0069d9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}

.delete-button:active {
  transform: translateY(1px);
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .data-item {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 5px;
  }

  .data-item h3, .data-item p {
    font-size: 0.9rem;
  }

  .delete-button {
    padding: 0.4rem 0.8rem;
    font-size: 0.85rem;
  }
}
