/* New container for both filters and data */
.filters-and-data-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 0 auto 2rem;
  }
  
  /* Ensure that the filter container uses flexbox to lay out its children */
.filters-container {
    display: flex;
    gap: 5px; /* Adjust this value as needed for spacing between filters */
    justify-content: center; /* Center the filters container */
    margin-bottom: 1rem; /* Space between filters and data */
  }
  
  /* Style adjustments for the filter inputs */
  .booking-filters input[type="text"] {
    /* If inputs have a specific class or identifier, select them here */
    flex: 1; /* Flex grow to fill available space */
    margin: 0; /* Reset any default margins */
    padding: 8px; /* Padding for better text visibility */
  }
  
  
  /* Adjust the last input's margin to avoid spacing on the right */
  .booking-filters input[type="text"]:last-child {
    margin-right: 0;
  }
  
  /* Existing .data-container and other styles remain unchanged */
  