/* Form Styles */
.form-container {
    max-height: 500px; /* Set maximum height to ensure it does not cause page scroll */
    overflow-y: auto; /* Add scroll to the container if content overflows */
    background: #ffffff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 40%;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  label {
    display: block;
    margin-bottom: .5rem;
    color: #333;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
    width: 100%;
    padding: .75rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 1rem;
  }
  
  

  /* Styles for select elements */
.form-group select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: white;
    color: #333;
  }
  
  /* Highlight style when the dropdown is focused */
  .form-group select:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  
  /* Style for options in the dropdown */
  .form-group select option {
    padding: 10px;
  }
  
  /* Adjustments for multiple selection in dropdown */
  .form-group select[multiple] {
    height: auto; /* Adjust the height as needed */
    background-color: #f8f8f8;
  }
  
