/* globals.css */
/* globals.css */
@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  body {
    /* Pink and dark blue gradient background */
    background: linear-gradient(to right, #fffffff4, #12010f7b);
    background-size: 200% 200%; /* Enlarge background size for animation effect */
  
    /* Apply the animation */
    animation: gradient 8s ease infinite;
  
    /* Modern font settings */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #333; /* Neutral text color for readability */
  }
  
  
  /* Universal box-sizing */
  *, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* Remove default margin */
  body, h1, h2, h3, h4, h5, h6, p, figure, blockquote, dl, dd {
    margin: 0;
  }
  
  /* Set core body defaults */
  body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
  }
  
  /* A few rules for a better typography */
  p {
    font-size: 1rem;
    line-height: 1.5;
  }
  
  h1, h2, h3, h4, h5, h6 {
    line-height: 1.1;
    font-weight: 600; /* Adjust based on your design preference */
  }
  
  /* Improve form elements */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* Set core root defaults */
  html {
    scroll-behavior: smooth;
  }
  
  /* Responsive images */
  img {
    max-width: 100%;
    display: block;
  }
  
  /* Make all media scalable */
  audio, video {
    max-width: 100%;
  }
  
  /* Apply a natural box layout */
  html {
    box-sizing: border-box;
  }
  
  .container {

    padding-top: 20px; /* Adjust the padding as needed */
}

@media print {
  body * {
      visibility: hidden; /* Hide everything in the body when printing */
  }

  .print-area, .print-area * {
      visibility: visible; /* Only print elements inside .print-area */
  }

  .print-area {
      position: absolute;
      left: 0;
      top: 0;
  }
}

/* AutoFillSearchBar.css */
.search-bar-container {
  position: relative;
  width: 100%;
}

.search-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.suggestions-list {
  position: absolute;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  background: white;
  border: 1px solid #ddd;
  border-top: none;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-height: 200px;
  overflow-y: auto;
}

.suggestion-item {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.suggestion-item:hover {
  background-color: #f0f0f0;
}
